.movie {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 10px 13px 0 rgb(0 0 0 / 11%);
  display: flex; 
  flex-direction: column;
}

.poster {
  flex: 1;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
  padding: 0.5rem 0.25rem;
}

.button {
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  border: none;
  background-color: #4F58DF;
  text-transform: uppercase;
}