.header {
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #4F58DF;
  color: #FFFFFF;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

.main {
  flex: 1;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

.movie {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 10px 13px 0 rgb(0 0 0 / 11%);
  display: flex; /* try without flex display first */
  flex-direction: column;
}

.poster {
  flex: 1;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
  padding: 0.5rem 0.25rem;
}